/* -------------------Banner section----------- */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1550px;
    height: 1000px;
    margin: auto;
    background-color: #161616;
    border-radius: 20px;
}


.banner-info h1{
    font-weight: 700;
    font-size: 100px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}
.banner-info p {
    font-weight: 400;
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.banner-info button {
    width: 250px;
    height: 80px;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    border-radius: 8px;
    color: white;
    background-color: red;
}
.banner-info button:hover {
    background-color: green;
}
.banner img {
    width: 600px;
    height:1000px;
    margin-left: 100px;
}
/*........................... All match option............. */
.contianer {
    width: 1550px;
    margin: auto;
    border-radius: 8px;
    
}
.nav-match {
    display: grid;
    grid-template-columns:  400px  1fr;
    margin-top: 30px;
    column-gap: 15px;
}
.split {
    margin-top: 100px;
    
    border-radius: 8px;
    
      
}
.buttons {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #161616;
}
.buttons button {
    width: 350px;
    height: 80px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
.buttons button:hover {
    background-color: red;

}

/*---------------------- All Match section----------------- */
.All-Match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    
}
.Match {
    border: 0.5px solid rgb(238, 218, 218);
    border-radius: 11px;

}
.Match:hover {
    border: 1px solid gray;
}
.Match img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
}
.Match button {
    width: 120px;
    height: 40px; 
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}
.Match button:hover {
    color: white;
    background-color: red;
}
.Match h2 {
    margin-left: 20px;
}
.Match h2:hover {
    color: rgb(0, 127, 182);
    text-decoration: underline;
}
.Counter {
    display: flex;
    font-weight: 900;
    font-size: 25px;
    padding-left: 4px;
    margin-left: 20px;
}
.Counter:hover {
    color: #e80000;
}
.Message {
    margin-left: 30px;
}
/*------------------- footer section ----------------*/
.footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #161616;
    
    margin: auto;
}
.Gole {
    font-weight: 600;
    font-size: 40px;
    padding-top: 130px;
    padding-bottom: 50px;
}

hr {
    width: 75%;
}
.footer-info {
    padding-top: 100px;
    padding-bottom: 130px;
}
.info {
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
    
}